<ng-container *ngIf="isAuthenticated(); else login">
  <!-- <app-header></app-header> -->
  <app-sidebar></app-sidebar> 
  <router-outlet></router-outlet>
</ng-container>

<ng-template #login>
  <ng-container *ngIf="!showRegistration && !showOTP; else registrationOTP">
    <app-login></app-login>
  </ng-container>
  <ng-template #registrationOTP>
    <ng-container *ngIf="showRegistration">
      <app-registration></app-registration>
    </ng-container>
    <ng-container *ngIf="showOTP">
      <app-email-verification></app-email-verification>
    </ng-container>
  </ng-template>
</ng-template>
